.donut {
  .arc {
    cursor: pointer;
  }
  @media (max-width: 991px) {
    padding: 0 20px;
  }
  .dbcontent {
    padding: 16px;
    display: block !important;
    opacity: 1 !important;
    user-select: none;
    &.active {
      background-color: #b70004;

      p,
      .panel-title {
        color: #fff;
      }
    }
  }
  .nav-arrows {
    display: flex;
    gap: 15px;
    justify-content: center;
  }

  .arrow-btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .arrow-btn:hover {
    background: #b70004;
    border: 1px solid #b70004;
  }

  .arrow-btn svg {
    width: auto;
    height: auto;
  }
  .arrow-btn:hover svg path {
    fill: #fff;
  }
  &-chart {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-direction: column;
    &-wrapper {
      display: flex;
      align-items: center;
      @media (max-width: 991px) {
        justify-content: center;
      }
    }
  }
  .panelBox {
    .dbcontent {
      &:nth-child(1) {
      }

      // &:nth-child(2) {
      //   margin-left: 20px;
      // }
      // &:nth-child(3) {
      //   margin-left: 40px;
      // }
      // &:nth-child(4) {
      //   margin-left: 20px;
      // }
      &.ml-20 {
        margin-left: 20px;
      }
      &.ml-40 {
        margin-left: 40px;
      }
      @media (max-width: 991px) {
        margin-left: 0 !important;
      }
    }
    .panel-title {
      margin-bottom: 8px;
      font-weight: bold;
    }
  }
}
