.donut {
  padding: 0 130px;
  .dbcontent {
    padding: 16px;
    display: block !important;
    opacity: 1 !important;
    &.active {
      background-color: #b70004;
      p,
      .panel-title {
        color: #fff;
      }
    }
  }
  .nav-arrows {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
  }

  .arrow-btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .arrow-btn:hover {
    background: #b70004;
    border: 1px solid #b70004;
  }

  .arrow-btn svg {
    width: auto;
    height: auto;
  }
  .arrow-btn:hover svg path {
    fill: #fff;
  }
  &-wrapper {
    // display: flex;
    // align-items: center;
  }
  .panelBox {
    .dbcontent {
      &:nth-child(2) {
        margin-left: 20px;
      }
      &:nth-child(3) {
        margin-left: 40px;
      }
      &:nth-child(4) {
        margin-left: 20px;
      }
    }
    .panel-title {
      margin-bottom: 8px;
      font-weight: bold;
    }
  }
}
